# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
dist
node_modules
npm-debug.log
yarn-error.log
vendor
resources/assets/config-local.json
wp-content/ai1wm-backups/
wp-content/ai1wm-backups/*
.svn
.cvs
.git
.listing
*.bak
*.swp
*.log
plugins/wp-file-cache/cache
cache
wp-content/mysql.sql
_wpeprivate
.htaccess
.cache
temp
tmp
*.tmp
imagecache*
uploads*
*_backup
gt-cache
ics-importer-cache
wp-config-sample.php
wp-content/w3tc*
wp-content/w3-*
wp-content/uploads/snapshots
wp-content/themes/thesis*/custom/cache
wp-content/themes/thesis*/lib/scripts/cache
wp-content/themes/*/cache
wp-content/plugins/*/cache
wp-content/w3tc-bak
wp-content/backup*
wp-content/temp*
wp-content/debug.log
wp-content/backups
wp-content/managewp
wp-content/upgrade/*
wp-content/uploads
wp-content/uploads/snapshots
pclzip-*
.vagrant
# WordPress debugging files
log.txt
debug.log
.smushit-status
140.png
1_input_2_..txt
3_input_2_..txt
3_input_3_..php.
3_input_3_..php5
46Fk2WSA9gcCc.txt
PIE.htc
PIE.php
apple-touch-icon-precomposed.png
apple-touch-icon.png
google*.html
last-mod
php5.ini
reallygoodstuff.php
strace.txt
wp-content/db-config.ini


# Gallaries in various places
gallery/*
wp-content/gallery/*
wp-content/album/*
photos/*

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz
*.sql
wp-config.php

Vagrantfile

bootstrap.sh

*.sh

phpmyadmin

*.DS_Store
