wp-content/themes/oibcomp2019/resources/assets/scripts/util/jquery.infinitescroll.js
wp-content/themes/oibcomp2019/resources/assets/scripts/util/manual-trigger.js
wp-content/themes/oibcomp2019/resources/assets/scripts/bxslider/dist/jquery.bxslider.min.js
wp-content/themes/oibcomp2019/resources/assets/scripts/fancybox/dist/jquery.fancybox.min.js
/wp-content/themes/oibcomp2019/resources/assets/scripts/fancybox/dist/jquery.fancybox.min.js
