a.btn {
  padding: 0.275rem 2.825rem;
  font-weight: 700;
  line-height: 2.5;
  color: #fff;
  @include font-size-sass(18px);
  &:hover,
  &:focus {
    outline: none;
  }
  &.red-btn {
    background-color: #ba6027;
    color: #fff;
    &:hover {
      background-color: #a9561a;
    }
  }
  &.red-border-btn {
    background-color: transparent;
    color: #ba6027;
    border: 2px solid #ba6027;
    padding: 0.275rem 1.875rem;
    &:hover {
      background-color: #a9561a;
      color: #fff;
    }
  }
  @include breakpoint(small640-down) {
    @include font-size-sass(14px);
  }
}

.banner .nav .booknownav a {
  padding: 13px 1rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background-color: #ba6027;
  border-radius: 3px;
  margin-left: 15px;
  &:hover {
    background-color: #a9561a;
  }
}
