.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
  &:hover {
    text-decoration: underline;
  }
}

.banner .brand {
  float: left;
  img {
    max-width: 200px;
    height: 100%;
    @include breakpoint(medium970-down) {
      max-width: 100px;
      margin-left: 10px;
      &.homeLogo {
        display: none;
      }
      &.forfix {
        display: block;
      }
    }
  }
}

.nav-primary {
  float: right;
}

.nav a {
  font-family: $default-font;
  @include font-size-sass(16px);
  padding: 20px 0;
  font-weight: 600;
  &:hover {
    color: #ba6027;
    text-decoration: underline;
  }
}

.nav .sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  padding: 10px;
  margin-left: -42px;
  -webkit-box-shadow: 20px 40px 60px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 20px 40px 60px 0px rgba(0,0,0,0.24);
  box-shadow: 20px 40px 60px 0px rgba(0,0,0,0.24);
  //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover {
      color: #ba6027;
      text-decoration: underline;
    }
  }
  &::before {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #fff;
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -17px;
  }
  @include breakpoint(medium970-down) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.home {
  .nav a:hover {
    color: #4a4a4a;
    text-decoration: underline;
  }
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.callinfo {
  text-align: right;
  font-weight: 600;
}

.menu-item {
  position: relative;
}

.menu-item-has-children > a::after {
  content: "⌄";
  padding-left: 5px;
}

.current_page_item > a {
  font-weight: 700;
}

.banner {
  padding: 40px 0;
  position: relative;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 12px;
    z-index: 20;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
    .nav-primary {
      padding-top: 0;
    }
    .mobile-primary {
      @include breakpoint(medium1000-down) {
        padding-top: 5px;
      }
    }
    .forLoaded {
      width: 100px;
      height: auto;
    }
    .callinfo,
    hr {
      display: none;
    }
    .nav a,
    .nav > li > a,
    a:not([href]):not([tabindex]) {
      color: #4a4a4a;
      &:hover {
        color: #ba6027;
      }
    }
    .nav > li.booknownav > a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  @include breakpoint(medium970-down) {
    padding: 20px 0;
  }
}

header {
  hr {
    margin-bottom: 0.875rem;
  }
  &::after {
    content: '';
    clear: both;
    display:block;
    overflow:hidden;
  }
}

.home {
  header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 0;
    z-index:10;
    overflow: visible;
    .callinfo,
    .social_icon,
    .nav > li > a,
    a:not([href]):not([tabindex]) {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    .callinfo:hover,
    .social_icon:hover {
      color: #fff;
    }
    hr {
      border-color: rgba(255, 255, 255, 0.2);
    }
    .nav > li.booknownav > a {
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    @include breakpoint(medium970-down) {
      position: relative;
    }
  }
}

.hide-desktop {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ab9767;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  a,
  a:not([href]):not([tabindex]) {
    padding: 8px 8px 3px 32px;
    text-decoration: none;
    @include font-size-sass(16px);
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  &.open {
    width: 225px;
    z-index: 100;
  }
  .menu-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    &.current-menu-ancestor > a {
      border-bottom: none;
    }
  }
  .sub-menu {
    position: relative;
    background-color: transparent;
    left: 0;
    margin-left: 0;
    display: none;
    .menu-item {
      border-bottom: none;
      a {
        padding: 3px 3px 3px 25%;
        line-height: 1.28;
      }
    }
    &::before {
      content: "";
      border: 0;
      position: relative;
      top: 0;
      left: 0;
      margin-left: 0;
    }
  }
  .menu-item-has-children {
    & > a::after {
      content: "\E80A";
      padding-left: 0;
      padding-right: 32px;
      float: right;
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 0.2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: 0.2em;
      padding-top: 6px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &.open {
      & > a::after {
        content: "\e809";
      }
      .sub-menu {
        display: block;
      }
    }
    &:hover .sub-menu {
      display: none;
    }
    &.open:hover {
      .sub-menu {
        display: block;
      }
    }
  }
}


.nav-primary {
  @include breakpoint(medium970-down) {
    display: none;
  }
}

.content-info {
  .nav-primary {
    @include breakpoint(medium970-down) {
      display: block;
    }
  }
}

.mobile-primary {
  display: none;
  @include breakpoint(medium970-down) {
    display: inline-block;
    float: right;
    padding-right: 0;
    padding-top: 7px;
  }
  &.mobile-enable {
    @include breakpoint(medium910-down) {
      padding-top: 15px;
    }
  }
}

.forfix {
  display: none;
}
