.section-banner {
  position: relative;
  margin-bottom: 60px;
  .section-banner-content {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    text-align: center;
  }
}

body:not(.home) {
  .section-banner {
    .bx-wrapper,
    .bx-viewport,
    .img-slider,
    .section-imag-content {
      height: 530px !important; //provide height of slider
    }
  }
}

.section-multi-image-with-content {
  overflow: hidden;
  margin-top: 6rem;
  .tagline .h2size {
    text-transform: uppercase;
    line-height: 1;
  }
  .multiImages {
    width: 40%;
    img {
      margin-bottom: 36px;
    }
  }
  .content {
    width: 60%;
    &.fLeft {
      padding-right: 2.5rem;
    }
    &.fRight {
      padding-left: 2.5rem;
    }
  }
  hr {
    width: 5rem;
    //float: left;
    border-top: 1px solid #4a4a4a;
    padding-left: 0;
    margin-left: 0;
  }
}

.section-html {
  overflow: hidden;
  margin-bottom: 3.75rem;
  .tagline .h2size {
    margin-top: 10px;
  }
  svg {
    max-width: 77px;
  }
  .half {
    width: 50%;
    @include breakpoint(medium800-down) {
      width: 100%;
    }
  }
  .fRight {
    padding-left: 4rem;
    @include breakpoint(medium800-down) {
      padding-left: 0;
    }
  }
  h3 {
    margin-top: 26px;
  }
  &.noMarginTop {
    h3 {
      margin-top: 0;
    }
  }
  .list-part {
    padding-top: 20px;
  }
  &.centerTxt .tagline h3 {
    margin-top: 0;
  }
  .logos {
    text-align: center;
    .logo {
      width: 32%;
      padding: 10px 20px;
      &:last-child {
        width: 37%;
      }
    }
    .inline {
      vertical-align: middle;
      margin-top: 0;
      line-height: 1.1;
    }
    h3 {
      margin-left: 3px;
    }
  }
  .activities-container {
    .activities {
      width: 28%;
      padding: 10px 0;
      .activity {
        padding: 35px 0;
        img {
          vertical-align: middle;
        }
      }
    }
    .vline {
      height: 500px;
      margin: 0 4% 0 2%;
    }
    .inline {
      vertical-align: middle;
      margin-top: 0;
      line-height: 1.1;
      margin-left: 10px;
    }
    h3 {
      margin-left: 10px;
      max-width: 250px;
    }
  }
  &.noMargin {
    hr.short {
      border-color: #4a4a4a;
    }
  }
  @include breakpoint(medium800-down) {
    h3, .tagline .h2size {
      text-align: center;
    }
    .tagline .h2size {
      margin: 2rem auto;
    }
  }
}

.section-cols {
  &.section-cols-3 {
    .colItem {
      width: 32%;
      vertical-align: top;
      &:nth-child(2) {
        margin: 0 1.5%;
        @include breakpoint(medium860-down) {
          margin: 0 1.45%;
        }
        @include breakpoint(medium780-down) {
          margin: 0 1.43%;
        }
        @include breakpoint(medium767-down) {
          margin: 0 auto;
          display: block;
        }
      }
      @include breakpoint(medium767-down) {
        width: 100%;
        max-width: 390px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  &.txtcenter {
    .colItem {
      text-align: center;
      h3 {
        font-weight: 900;
        margin-top: 30px;
      }
    }
  }
  &.section-cols-2 {
    .cols {
      overflow: hidden;
    }
    .colItem {
      width: 48%;
      float: left;
      position: relative;
      &:nth-child(even) {
        float: right;
      }
      img {
        width: 100%;
        height: auto;
        margin: 20px auto;
      }
    }
  }
  &.floatUp {
    position: relative;
    top: -120px;
    h3 {
      font-weight: 900;
      @include font-size-sass(20px);
      line-height: 1.2;
      span {
        font-family: $default-font;
        line-height: 1.625;
        font-weight: 700;
        padding-left: 3px;
        @include font-size-sass(16px);
        vertical-align: bottom;
        a {
          vertical-align: text-bottom;
          text-decoration: underline;
          padding-left: 3px;
        }
      }
    }
  }
}

.section-banner-search {
  background-color: #f2e9d8;
  padding: 30px;
  max-width: 760px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  bottom: -80px;
  left: 50%;
  width: 100%;
  margin-left: -380px;
  label {
    font-weight: 600;
    @include font-size-sass(14px);
    line-height: 1.1;
    letter-spacing: 0.6px;
  }
  .inline {
    margin-right: 4%;
    &:last-child {
      margin-right: 0;
    }
  }
  input[type="date"] {
    font-weight: 300;
    @include font-size-sass(14px);
    line-height: 1.1;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #4a4a4a;
    padding: 8px 30px;
    &:focus {
      outline: 0;
    }
  }
  input[type="date"] {
    background-image: url(/wp-content/themes/oibcomp2019/resources/assets/images/cal.png);
    background-position: 3% 50%;
    background-repeat: no-repeat;
  }
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  @include breakpoint(medium766-down) {
    display: none;
  }
}

.section-image-with-text {
  overflow: hidden;
  .hasVideoClip {
    overflow: hidden;
    .fLeft {
      width: 46%;
      @include breakpoint(medium880-down) {
        width: 100%;
      }
    }
    .fRight {
      width: 46%;
      height: 100%;
      @include breakpoint(medium880-down) {
        width: 100%;
      }
    }
  }
  &.hasWaveBg {
    background-position: center top;
    overflow: hidden;
    padding-bottom: 180px;
    padding-top: 4rem;
    margin-top: 6rem;
    img.fLeft {
      width: 64%;
    }
    div.fRight {
      width: 30%;
    }
    h2 {
      @include font-size-sass(40px);
      max-width: 260px;
      line-height: 1;
    }
    hr.short {
      margin-left: 0;
      border-color: #4a4a4a;
    }
    h3 {
      color: #4a4a4a;
      @include font-size-sass(20px);
      margin-top: 2.125rem;
    }
    .red-border-btn {
      margin: 20px 0;
    }
  }
  hr.short {
    border-color: #4a4a4a;
    margin-left: 0;
    margin-bottom: 0;
  }
  .tagline .h2size {
    margin: 0.5rem 0;
  }
}

.customize-bxslidercontainer {
  .bx-wrapper,
  .bx-viewport,
  .img-slider,
  .section-imag-content {
    height: 480px !important; //provide height of slider
  }
  /*.bx-wrapper {
    height: 720px;
    .bx-viewport, .img-slider, .section-imag-content {
      height: 720px !important;
    }
  }*/
  .section-banner-content {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    text-align: center;
  }
  .section-slider-control {
    width: 16.2%;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
    img {
      width: auto;
      height: 188px;
    }
  }
}

.home {
  .tagline.slider-banner {
    h3 {
      @include font-size-sass(54.4px);
      margin-bottom: 10px;
      @include breakpoint(medium1355-down) {
        @include font-size-sass(45px);
      }
      @include breakpoint(medium1250-down) {
        @include font-size-sass(35px);
      }
      @include breakpoint(medium980-down) {
        @include font-size-sass(22px);
      }
      /*@include breakpoint(medium700-dow) {
        @include font-size-sass(22px);
      }*/
    }
  }
  .section-banner {
    margin-bottom: 180px;
  }
  .section-banner .section-banner-content {
    right: 40%;
    -webkit-transform: translate(34%, -50%);
    -o-transform: translate(34%, -50%);
    transform: translate(34%, -50%);
    @include breakpoint(medium900-down) {
      -webkit-transform: translate(30%, -50%);
      -o-transform: translate(30%, -50%);
      transform: translate(30%, -50%);
    }
  }
}

.section-image-slider {
  margin: 4rem 0;
}

.contact {
  h3 {
    font-family: $default-font;
    line-height: 1;
  }
  p {
    padding: 5px 0;
  }
  .fRight p {
    line-height: 1;
  }
}

.slider-control {
  text-align: center;
  display: table;
  .section-slider-control {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding-bottom: 46px;
    .section-tab-content-icon {
      svg {
        max-height: 80px;
        margin-bottom: 20px;
      }
      &:hover {
        cursor: pointer;
      }
      text-align: center;
      margin-top: 20px;
      @include font-size-sass(20px);
      font-weight: 900;
      font-family: $hfont;
      color: #ab9767;
      line-height: 1.2;
    }
    &:hover,
    &.active {
      cursor: pointer;
      .section-tab-content-icon {
        color: #ba6027;
        .svg_icon {
          fill: #ba6027;
        }
      }
    }
    &.active::after {
      width: 0;
      height: 0;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 18px solid #ba6027;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -17px;
      content: "";
    }
  }
}

.section-tabs {
  text-align: center;
  display: table;
  .section-tab {
    width: calc(100% / 6.5);
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding-bottom: 46px;
    .section-tab-content-icon {
      svg {
        max-height: 80px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .section-tab-content {
      text-align: center;
      margin-top: 20px;
      @include font-size-sass(20px);
      font-weight: 900;
      font-family: $hfont;
      color: #ab9767;
      line-height: 1.2;
    }
    &:hover,
    &.section-tab-active {
      cursor: pointer;
      .section-tab-content-icon {
        .svg_icon {
          fill: #ba6027;
        }
      }
      .section-tab-content {
        color: #ba6027;
      }
    }
    &.section-tab-active::after {
      width: 0;
      height: 0;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 18px solid #ba6027;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -17px;
      content: "";
    }
  }
}

