.section-banner {
  position: relative;
  .section-banner-content {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
  }
}

.section-multi-image-with-content {
  .tagline .h2size {
    text-transform: uppercase;
  }
  .multiImages {
    width: 40%;
  }
  .content {
    width: 60%;
    &.fLeft {
      padding-right: 2.5rem;
    }
    &.fRight {
      padding-left: 2.5rem;
    }
  }
  hr {
    width: 5rem;
    //float: left;
    border-top: 1px solid #4a4a4a;
    padding-left: 0;
    margin-left: 0;
  }
}

.section-html {
  overflow: hidden;
  margin-bottom: 3.75rem;
  .half {
    width: 50%;
  }
  .fRight {
    padding-left: 4rem;
  }
  h3 {
    margin-top: 26px;
  }
  .list-part {
    padding-top: 20px;
  }
  .logos {
    text-align: center;
    .logo {
      width: 32%;
      padding: 10px 20px;
      &:last-child {
        width: 37%;
      }
    }
    .inline {
      vertical-align: middle;
      margin-top: 0;
      line-height: 1.1;
    }
    h3 {
      margin-left: 3px;
    }
  }
}

.section-cols {
  &.section-cols-3 {
    .colItem {
      width: 32%;
      vertical-align: top;
      &:nth-child(2) {
        margin: 0 1.5%;
      }
    }
  }
  &.txtcenter {
    .colItem {
      text-align: center;
      h3 {
        font-weight: 900;
      }
    }
  }
}

