%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .isWindowsChrome & {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

%fix-webkit-font-rendering {
  @extend %font-smoothing;
  text-rendering: optimizeLegibility;
}

@mixin breakpoint($point) {
  @if $point == large2000-up {
    @media (min-width: 2000px) {
      @content;
    }
  } @else if $point == large1800-up {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $point == large1700-up {
    @media (min-width: 1700px) {
      @content;
    }
  } @else if $point == medium1780-down {
    @media (max-width: 1780px) {
      @content;
    }
  } @else if $point == medium1575-down {
    @media (max-width: 1575px) {
      @content;
    }
  } @else if $point == medium1500-up {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $point == medium1450-down {
    @media (max-width: 1450px) {
      @content;
    }
  } @else if $point == medium1410-down {
    @media (max-width: 1410px) {
      @content;
    }
  } @else if $point == medium1400-down {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $point == medium1390-down {
    @media (max-width: 1390px) {
      @content;
    }
  } @else if $point == medium1350-down {
    @media (max-width: 1350px) {
      @content;
    }
  } @else if $point == medium1300-down {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $point == medium1280-down {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $point == medium1250-down {
    @media (max-width: 1250px) {
      @content;
    }
  } @else if $point == medium1200-down {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == medium1200-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == medium1180-down {
    @media (max-width: 1180px) {
      @content;
    }
  } @else if $point == medium1170-down {
    @media (max-width: 1170px) {
      @content;
    }
  } @else if $point == medium1150-down {
    @media (max-width: 1150px) {
      @content;
    }
  } @else if $point == medium1132-down {
    @media (max-width: 1132px) {
      @content;
    }
  } @else if $point == medium1110-down {
    @media (max-width: 1110px) {
      @content;
    }
  } @else if $point == medium1100-down {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $point == medium1095-down {
    @media (max-width: 1095px) {
      @content;
    }
  } @else if $point == medium1080-down {
    @media (max-width: 1080px) {
      @content;
    }
  } @else if $point == medium1070-down {
    @media (max-width: 1070px) {
      @content;
    }
  } @else if $point == medium1055-down {
    @media (max-width: 1055px) {
      @content;
    }
  } @else if $point == medium1050-down {
    @media (max-width: 1050px) {
      @content;
    }
  } @else if $point == medium1025-down {
    @media (max-width: 1025px) {
      @content;
    }
  } @else if $point == medium1024-up {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == medium1023-down {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $point == medium1000-down {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point == medium990-down {
    @media (max-width: 990px) {
      @content;
    }
  } @else if $point == medium983-down {
    @media (max-width: 983px) {
      @content;
    }
  } @else if $point == medium970-down {
    @media (max-width: 970px) {
      @content;
    }
  } @else if $point == medium966-down {
    @media (max-width: 966px) {
      @content;
    }
  } @else if $point == medium960-down {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $point == medium950-down {
    @media (max-width: 950px) {
      @content;
    }
  } @else if $point == medium940-down {
    @media (max-width: 940px) {
      @content;
    }
  } @else if $point == medium936-down {
    @media (max-width: 936px) {
      @content;
    }
  } @else if $point == medium910-down {
    @media (max-width: 910px) {
      @content;
    }
  } @else if $point == medium900-down {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point == medium900-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $point == medium870-down {
    @media (max-width: 870px) {
      @content;
    }
  } @else if $point == medium860-down {
    @media (max-width: 860px) {
      @content;
    }
  } @else if $point == medium810-down {
    @media (max-width: 810px) {
      @content;
    }
  } @else if $point == medium800-up {
    @media (min-width: 801px) {
      @content;
    }
  } @else if $point == medium800-down {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $point == medium767-down {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == medium750-down {
    @media (max-width: 750px) {
      @content;
    }
  } @else if $point == medium700-up {
    @media (min-width: 701px) {
      @content;
    }
  } @else if $point == medium700-down {
    @media (max-width: 700px) {
      @content;
    }
  } @else if $point == medium660-down {
    @media (max-width: 660px) {
      @content;
    }
  } @else if $point == small640-down {
    @media (max-width: 640px) {
      @content;
    }
  } @else if $point == small580-down {
    @media (max-width: 580px) {
      @content;
    }
  } @else if $point == small568-down {
    @media (max-width: 568px) {
      @content;
    }
  } @else if $point == small480-up {
    @media (min-width: 481px) {
      @content;
    }
  } @else if $point == small480-down {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == small400-down {
    @media (max-width: 400px) {
      @content;
    }
  } @else if $point == small385-down {
    @media (max-width: 385px) {
      @content;
    }
  } @else if $point == small380-down {
    @media (max-width: 380px) {
      @content;
    }
  } @else if $point == small374-down {
    @media (max-width: 374px) {
      @content;
    }
  } @else if $point == small370-down {
    @media (max-width: 370px) {
      @content;
    }
  } @else if $point == small360-down {
    @media (max-width: 360px) {
      @content;
    }
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
i,
b,
em,
strong,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: $default-font;
  font-weight: 400;
  //font-style: normal;
  font-size: 16px;
  color: $default-font-color;
  @extend %fix-webkit-font-rendering;
  line-height: 1.625;
  color: #4a4a4a;
}

body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1,
h2 {
  font-family: $hfont;
  font-weight: 900;
  line-height: 1;
}

h1 {
  @include font-size-sass(90px);
  color: #fff;
  text-align: center;
}

html {
  // Prevent font scaling in landscape while allowing user zoom
  -webkit-text-size-adjust: 100%;
}

p {
  padding: 20px 0;
  @include breakpoint(medium750-down) {
    padding: 15px 0;
  }
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin valign-center {
  font-size: 0;

  & > * {
    @include font-size-sass(16px);
    vertical-align: middle;
    margin: 0;
    display: inline-block;
  }

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

.valign-center {
  @include valign-center;
}

.container {
  @include breakpoint(medium1200-up) {
    max-width: 1300px;
    width: 94%;
  }
  @include breakpoint(medium1200-down) {
    max-width: 1100px;
  }
}

.fLeft {
  float: left;
  @include breakpoint(medium800-down) {
    float: none;
    display: inline-block;
  }
}
.fRight {
  float: right;
  @include breakpoint(medium800-down) {
    float: none;
    display: inline-block;
  }
}

.inline {
  display: inline-block;
}

hr.short {
  width: 100px;
  border-color: #ab9767;
  border-width: 2px;
}

.semiBold {
  font-weight: 600;
}

.white {
  color: #fff;
}

.hidden {
  display: none;
}

.topbar {
  padding: 20px 0;
  visibility: visible;
  opacity: 1;
  .container {
    color: #fff;
    a {
      @include font-size-sass(20px);
      text-decoration: underline;
      &:hover {
        color: #b0291c;
      }
      @include breakpoint(small640-down) {
        line-height: 1.3;
      }
    }
    @include breakpoint(small640-down) {
      line-height: 1.3;
      i {
        color: #fff;
      }
    }
  }
  &.hiddenTop {
    @include transition3x(
      visibility 0.3s linear,
      opacity 0.3s linear,
      padding 0.3s linear
    );
    visibility: hidden;
    opacity: 0;
    padding: 0;
    .container a {
      font-size: 0;
    }
  }
  @include breakpoint(medium750-down) {
    background-color: #4a4a4a !important;
  }
}

h2 {
  @include font-size-sass(36px);
  line-height: 1.28;
  color: #b0291c;
  letter-spacing: -1px;
  @include breakpoint(medium750-down) {
    @include font-size-sass(32px);
    letter-spacing: -0.89px;
    line-height: 1.2;
  }
}

.cta-brown,
h4 {
  color: #ab9767;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.cta-brown:hover {
  color: #ab9767;
  text-decoration: underline;
}

a.backtonews {
  color: #ab9767;
  font-weight: 600;
}

h4 {
  @include font-size-sass(16px);
  @include breakpoint(medium750-down) {
    @include font-size-sass(12px);
  }
}

.bx-wrapper {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  /* .bx-viewport {
    height: inherit !important;
  }*/
  .bx-controls-direction a {
    bottom: 27%;
    top: auto;
    background: none;
    color: #ab9767;
    font-size: 0;
    text-indent: 0;
    height: 50px;
    width: 50px;
    z-index: 2;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    @include breakpoint(medium1280-down) {
      height: 30px;
      width: 30px;
    }
    @include breakpoint(medium1100-down) {
      height: 50px;
      width: 50px;
    }
  }
  .bx-next {
    @include breakpoint(medium1280-down) {
      right: 5px;
    }
    &::before {
      content: "\e80c";
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1.25rem;
      margin-right: 0.2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: 0.2em;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include font-size-sass(60px);
      @include breakpoint(medium1280-down) {
        @include font-size-sass(30px);
      }
      @include breakpoint(medium1100-down) {
        @include font-size-sass(50px);
      }
    }
  }
  .bx-prev {
    left: auto;
    right: 80px;
    @include breakpoint(medium1280-down) {
      right: 30px;
    }
  }
  .bx-prev::before {
    content: "\e80b";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1.25rem;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font-size-sass(60px);
    @include breakpoint(medium1280-down) {
      @include font-size-sass(30px);
    }
    @include breakpoint(medium1100-down) {
      @include font-size-sass(50px);
    }
  }
  .bx-controls-direction a.disabled {
    display: block;
    opacity: 0.1;
  }
  @include breakpoint(medium1100-down) {
    margin-bottom: 30px;
  }
}

h5 {
  @include font-size-sass(24px);
  font-weight: 600;
  color: #4a4a4a;
  line-height: 1.25;
}

.member-profile {
  .person-title,
  .pic-credit {
    @include font-size-sass(16px);
    line-height: 1.25;
    padding: 0;
  }
  img {
    width: 600px;
    height: auto;
    margin: 30px 0 5px;
    display: block;
  }
  .profile {
    max-width: 600px;
    @include font-size-sass(20px);
    line-height: 1.8;
  }
}

.fancybox-button {
  background: transparent;
  position: absolute;
  top: 30px;
  right: 20px;
  width: auto;
  outline: none;
  &:focus {
    outline: none;
  }
  @include breakpoint(small568-down) {
    top: 6px;
    right: 0;
    height: 60px;
  }
}

.wp-caption-text {
  @include font-size-sass(16px);
  letter-spacing: 0;
  line-height: 1.25;
}
.wp-caption img {
  display: block;
}

.st-label {
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
}

.find_more {
  margin: 2rem auto 3rem;
  text-align: center;
}

.fancyboxVideo {
  color: #fff;
  font-weight: 600;
  &::before {
    content: url("./images/playBtn.png");
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    margin-right: 1.625rem;
  }
  &:hover,
  &:focus {
    color: #ab9767;
  }
}

.video-btn {
  margin-bottom: 5px;
}

.inner-tabs {
  overflow: hidden;
}

.anchor {
  padding-left: 10px;
}

.hasTopbar {
  border-top: 2px solid #ab9767;
  @include breakpoint(medium750-down) {
    border-top: 2px solid #d8d8d8;
    .inner-container h3 {
      color: #ab9767;
      font-weight: 600;
      margin: 15px 0;
    }
  }
}

.double-filters-mobile-layout {
  .inner-container h3 {
    color: #ab9767;
    font-weight: 600;
    margin: 15px 0 15px 15px;
    text-align: left;
  }
}

.video-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.fancybox-slide--html {
  @include breakpoint(medium750-down) {
    padding: 0;
  }
}

.icon-cancel-circled-after {
  @include breakpoint(medium750-down) {
    font-size: 0;
  }
}

.fancybox-content {
  @include breakpoint(medium750-down) {
    padding: 20px;
  }
}

.bx-wrapper .bx-controls-direction a {
  bottom: 22%;
  @include breakpoint(medium1100-down) {
    position: relative;
    margin-top: 0;
    display: inline-block;
    &.disabled {
      display: inline-block;
      right: 10px;
      opacity: 0.3;
    }
    &.bx-prev {
      right: 10px;
    }
  }
}

.process {
  .bx-wrapper .bx-next {
    right: 55px;
    @include breakpoint(medium1350-down) {
      right: 25px;
    }
    @include breakpoint(medium1280-down) {
      right: 18px;
    }
    @include breakpoint(medium1100-down) {
      right: 0;
    }
  }
  .bx-wrapper .bx-prev {
    right: 110px;
    @include breakpoint(medium1350-down) {
      right: 85px;
    }
    @include breakpoint(medium1280-down) {
      right: 55px;
    }
  }
  .section-tabs-system .grid .bx-wrapper .bx-controls-direction a {
    color: #ab9767;
  }
}

.bx-controls {
  text-align: center;
  //@include breakpoint(medium750-down) {
  margin-top: 20px;
  //}
}

.select2-container {
  width: 100% !important;
  margin: 0 auto;
  border-radius: 0;
  padding: 0;
}

.select2-container--default .select2-selection--single {
  padding: 10px 20px;
  height: 100%;
  .select2-selection__arrow {
    top: 13px;
    right: 20px;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-results__option {
  color: #ab9767;
  font-weight: 600;
}

.select2-results__option {
  padding: 10px 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  text-align: left;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #b0291c;
}

.mobileV-container .element-item {
  display: none;
  &.mobile-content-active {
    display: block;
  }
  figure {
    margin-top: 15px;
  }
}

a {
  color: #4a4a4a;
  &:hover {
    color: #ab9767;
  }
  span,
  strong,
  i,
  u {
    color: inherit;
    font-size: inherit;
  }
}

a:active,
a:focus {
  color: #ab9767;
}

a.foot-link {
  color: #4a4a4a;
}

.bx-wrapper img {
  @include breakpoint(medium750-down) {
    max-width: 750px;
  }
}

.section-tabs-system {
  height: 100%;
}

.testimonial-bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  img {
    visibility: hidden;
  }
}

#wp_pagination {
  text-align: center;
  margin: 10px auto 20px;
  .btn {
    padding: 1rem 3.125rem;
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.hasBothbar {
  border-top: 2px solid #e9e5dc;
  border-bottom: 2px solid #e9e5dc;
  padding: 50px 0;
}

.wrap {
  margin-bottom: 1.5rem;
  overflow: hidden;
  @include breakpoint(small568-down) {
    margin-bottom: 0;
  }
}

body {
  @include breakpoint(small568-down) {
    padding-bottom: 0 !important;
  }
}

.content-info {
  margin-bottom: 2.5rem;
}

.social_icons {
  @include breakpoint(medium750-down) {
    display: block;
    i {
      @include font-size-sass(32px);
    }
  }
}

.figure-caption,
.wp-caption-text {
  color: #4a4a4a;
}

strong {
  font-weight: 700;
}

strong,
u,
i {
  color: inherit;
  font-size: inherit;
}

.foot-link {
  text-decoration: none;
}

.social_icon {
  color: #4a4a4a;
  &:hover {
    color: #ab9767;
  }
}

a.btn {
  text-decoration: none;
}

.tagline {
  h3 {
    font-family: $taglineH3;
    font-weight: 300;
    color: #808080;
    @include font-size-sass(30px);
  }
  .h2size {
    font-family: $hfont;
    font-weight: 900;
    color: #4a4a4a;
    @include font-size-sass(40px);
  }
  &.txtCenter {
    text-align: center;
    max-width: 770px;
    width: 100%;
    margin: 20px auto 0;
    hr {
      border-top: 1px solid #4a4a4a;
      width: 5rem;
      margin: 2.125rem auto;
    }
  }
}

.red,
span.wpcf7-not-valid-tip {
  color: #d41d2a;
  font-style: italic;
  @include font-size-sass(16px);
  font-weight: 700;
}

.wpcf7-not-valid-tip {
  margin-top: 8px;
}

label {
  font-weight: 700;
  width: 100%;
  sup {
    font-weight: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #d41d2a;
    top: 0;
    left: 1px;
  }
  input,
  select {
    line-height: 2.5;
  }
  input,
  select,
  textarea {
    width: 100%;
  }
}

.wpcf7-text {
  border: 2px solid rgba(74,74,74,0.2);
  border-radius: 3px;
  &.wpcf7-not-valid {
    border: 2px solid #d41d2a;
    background-color: rgba(212,29,42,0.1);
  }
}

h3 {
  @include font-size-sass(24px);
  letter-spacing: -0.67px;
  font-weight: 600;
}

[type="submit"] {
  width: 100%;
  background-color: #b0291c;
  border: 0;
  color: #fff;
  @include font-size-sass(20px);
  font-weight: 700;
  line-height: 1.5;
  padding: 10px 0;
  border-radius: 2px;
}

.contactus {
  width: 64%;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  &.active,
  &:focus,
  &:hover {
    background-color: #fff;
  }
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: initial;
  &.bx-prev {
    left: 10%;
    right: initial;
  }
}

.redbg {
  background-color: rgba(176,41,28,0.1);
  padding: 3.75rem 0;
  hr {
    border-top: 1px solid rgba(151,151,151,0.5);
  }
}

.vline {
  border-left: 1px solid rgba(151,151,151,0.5);
  height: 90px;
}

.noBottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
